* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding does not affect the total width or height of an element */
}

/* Ensure the entire page has a white background */
body, html {
  margin: 0;
  padding: 0;
  background-color: #fff; /* Set background to white */
  color: #000; /* Ensure text is black for contrast */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matching-exercise {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  text-align: center; /* Center text */
  width: 100%; /* Take up full width to center content horizontally */
  min-height: 100vh; /* Ensures it covers the full viewport height at minimum */
  padding: 20px; /* Adds padding around the entire matching-exercise container */
}

.content {
  margin-bottom: 60px; /* Increased space below the content before the buttons */
  /* Additional spacing between the title and the paragraph if needed */
  h1 {
    margin-bottom: 20px; /* Space below the title */
  }
  p {
    margin-bottom: 20px; /* Space below the paragraph, before buttons if there's no other content */
  }
}

.buttons {
  display: flex;
  flex-direction: row; /* Align buttons in a row */
  justify-content: center;
  gap: 20px; /* Space between buttons */
}

button {
  padding: 10px 20px; /* Button padding for better visuals */
  cursor: pointer;
  /* You can add further button styling here */
}

.enter-equation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.equation-input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.equation-input {
  width: 75%; /* Adjust based on preference */
  height: 200px; /* Adjust based on preference */
  margin-right: 20px;
}

.save-button {
  width: 20%; /* Adjust based on preference */
  height: 40px; /* Adjust for better ergonomics */
  cursor: pointer;
}

/* Styles for the equation input container */
.equation-input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

/* Styles for both buttons to make them look similar */
.button-style {
  background-color: #4CAF50; /* Example color, adjust as needed */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Styles for the textarea */
.equation-input {
  width: 300px; /* Adjust width as needed */
  height: 150px; /* Adjust height as needed */
  margin-bottom: 20px; /* Creates space between the textarea and the buttons */
}

/* Optional: Styles for the div that wraps the buttons, if needed */
.buttons-container {
  display: flex;
  gap: 10px;
}

@media (max-width: 768px) {
  .graph-container {
      width: 100%; /* Make each graph take the full width on smaller screens */
  }
}